/*Header*/
.align-header {
	margin-left: 100px;
}

/*Nav Bar*/
.nav {
	display: inline;
	margin-left: 100px;
}

.about-tab {
	margin-left: 100px;
}

ul {
	width: 50px;
}

/*Social Media Links*/
.connect-style {
	margin: 0 auto;
}

/*Footer*/
footer {
	background-color: #eeeeee;
	color: #bdbdbd;
	font-size: 10px;
	text-align: center;
	padding: 20px;
} 

/*'About Me' Page*/
#page-wrap {
     margin: 0 auto;
     margin-left: 100px;
}

.main-width {
	width: 50px;
}

.img-display {
	margin-bottom: 20px
}

p {
	line-height: 1.5;
	margin-left: 100px;
}

/*'Portfolio' Page*/

.thumbnail {
	width: 233px;
	text-align: center;
}

.img-responsive {
	margin: 0 auto;
}

.portfolio-font {
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 40px;
	text-align: center;
}
