/*Nav Bar*/

.nav {
	display: inline;
}

ul {
	width: 50px;
}

/*Social Media Links*/
.connect-style {
	margin: 0 auto;
	margin-right: 20px;
}

.social {
	margin-left: 20px;
}





/*Footer*/
footer {
	background-color: #eeeeee;
	color: #bdbdbd;
	font-size: 10px;
	text-align: center;
	padding: 20px;
} 

/*'About Me' Page*/
.img-display {
	margin-bottom: 20px
}

p {
	line-height: 1.5;
	margin-left: 100px;
}

/*'Portfolio' Page*/

.thumbnail {
	width: 233px;
	text-align: center;
	padding: 0;
}

.img-responsive {
	margin: 0 auto;
}

.portfolio-font {
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 40px;
	text-align: center;
}

/*'Contact' Page*/

.submit {
	margin-bottom: 20px;
}
